[submodule "themes/bleak"]
	path = themes/bleak
	url = https://github.com/Xennis/hugo-theme-bleak.git
[submodule "themes/creative-portfolio"]
	path = themes/creative-portfolio
	url = https://github.com/kishaningithub/hugo-creative-portfolio-theme.git
